<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="placeholder">
            <p>cool Logo</p>
        </div>
    </header>
    <main>
        <div class="loginBars">
            <form action="/login" method="POST">
                <input type="email" name="email" placeholder="Email Adress">
                <input type="password" name="password" placeholder="Paswword">
                <button>LogIn</button>
            </form>
        </div>
        <div class="registerLink">
            <div class="banner">
                <p>dont have an account yet?</p><br>
                <a href="/register">register</a>
            </div>
        </div>
    </main>
</body>
</html>