<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="placeholder">
            <p>cool Logo</p>
        </div>
    </header>
    <main>
        <div class="registerBars">
            <form action="/register" method="POST">
                <input type="text" name="firstName" placeholder="First Name">
                <input type="text" name="lastName" placeholder="Last Name">
                <input type="email" name="email" placeholder="Email Adress">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="password2" placeholder="Repeat Password">
                <button>Register</button>
            </form>
        </div>
    </main>
</body>
</html>