.inputBars{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.shape{
    width: 30%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0 0, 50% 100%, 0 100%);}

.shape2{
    width: 30%;
    height: 100%;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 100% 100%);}

.logo{
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.delete{
    margin-top: 150px;
    
}
