
header{
    display: flex;
    justify-content: center;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}


img{
    width: 30%;

}

a{
    color: black;
}

*{
    font-family: 'Open Sans', sans-serif;

}



.categories {
    margin-top: 100px;
    margin-left: 17%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    }
    
    .gas { grid-area: 1 / 1 / 2 / 2; }
    .electricity { grid-area: 1 / 2 / 2 / 3; }
    .water { grid-area: 1 / 3 / 2 / 4; }
    .dataInput { grid-area: 2 / 2 / 3 / 3; }
    



/* .categories{
    display: flex;
    justify-content: space-evenly;
    margin-left: 17%;
    margin-top: 5%;
} */

.dataInput{
    margin-top: 30px;
}

.footerText{
    display: flex;
    align-items: flex-start;
}

.logoutBar{
    display: flex;
    justify-content: flex-end;
    margin-top: -600px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;

}

.shape{
    width: 30%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0 0, 50% 100%, 0 100%);}

.shape2{
    width: 30%;
    height: 100%;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 100% 100%);}