
.loginBars{
    display:flex;
    justify-content: center;
    margin-top: 5%;
}

header{
    display: flex;
    justify-content: center;

}

.banner{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.shape1{
    border-radius:0% 100% 0% 100% / 0% 0% 100% 100%  ;
    color: black;

}

input{
    border-style: solid;
    border-color: black;
    background: white;
}

button{
    border-style: solid;
    border-color: black;

}

a{
    margin-top: 1%;
    margin-left: 1%;
}


